# JVM & System Runtimes
runtime/

# Paper / Purpur internals & caches
cache/
libraries/
versions/
.paper-remapped/

# Server executable (auto-downloaded by start.sh if missing)
purpur.jar

# Logs & shell history
logs/
*.log
.console_history

# World maps (region & entity binary data)
/world/
/world_nether/
/world_the_end/
/lobby/

# Crash reports & temp files
crash-reports/
*.tmp
.DS_Store
Thumbs.db

# Databases & local player state
*.db
*.db-shm
*.db-wal
*.mv.db
usercache.json
version_history.json
banned-ips.json
banned-players.json
ops.json
whitelist.json
*.bin
**/playerdata/
playerdata.yml
**/userdata/
uuidcache.txt
*.old.*
transaction-log.txt
plugins/LuckPerms/libs/
plugins/GrimAC/data/
*.bak
*.lck
**/playerdata.yml
plugins/BetterRTP/log.txt*
plugins/FancyAnalytics/
